<div class="featured-posts">
	{% for post in posts %}
		<div class="featured-post">
			<div class="featured-post-inner" style="background-image:url({{ post.get_thumbnail.get_src|resize(660, 330) }});">
				<div class="featured-cover"><a href="{{ post.link }}"></a></div>
				<div class="featured-title">
					<h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
					<h3>{{ post.get_preview }}</h3>
				</div>
			</div>
		</div>
	{% endfor %}

</div>
<div class="clearfix"></div>
