{% set count = 0 %}
<div class="featured-posts-1-4 horizontal row">
	{% for post in posts %}
		{% if count == 0 %}
			<div class="col-md-6 left">
				<a href="{{ post.link }}"><img src="{{ post.get_thumbnail.get_src|resize(470, 250) }}"></a>
				<h3 class="post-title">{{ post.title }}</h3>
				<div class="post-meta">
					<span class="dateline"><span class="dashicons dashicons-clock"></span> {{ post.post_date_modified|date }}</span>
					<span class="comments"><span class="dashicons dashicons-admin-comments"></span>{{ post.comment_count }}</span>
				</div>
				<div class="preview">{{ post.get_preview(20, true, '', true) }}</div>
				<a class="button read-more" href="{{ post.link }}">{{ __( 'Read More', 'maera_mg' ) }}</a>
			</div>
			<ul class="col-md-6 right">
		{% else %}
				<li>
					<a href="{{ post.link }}"><img class="alignleft" src="{{ post.get_thumbnail.get_src|resize(110, 75) }}"></a>
					<h4 class="post-title">{{ post.title }}</h4>
					<div class="post-meta">
						<span class="dateline"><span class="dashicons dashicons-clock"></span> {{ post.post_date_modified|date }}</span>
						<span class="comments"><span class="dashicons dashicons-admin-comments"></span>{{ post.comment_count }}</span>
					</div>
				</li>
		{% endif %}
		{% set count = count + 1 %}
	{% endfor %}
	</ul>
</div>
