<div id="main-menu" class="main-menu">
	<a class="trigger" alt="{{ __('Open Menu', 'maera_mg') }}"><span class="menu-icon dashicons dashicons-menu"></span></a>
	<ul class="dl-menu">
		{% for item in menu.get_items %}
			<li class="{{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}">
				<a href="{{ item.get_path }}">{{ item.title }}</a>
				{% if item.get_children %}
					<ul class="dl-submenu">
						{% for child in item.get_children %}
							<li class="{{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}">
								<a href="{{ item.get_path }}">{{ item.title }}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
