<ul class="nav nav-pills nav-stacked">
	{% for item in menu.get_items %}
		{% if item.get_children %}
			<li class="dropdown {{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ item.get_path }}">{{ item.title }} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					{% for child in item.get_children %}
						<li class="{{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}"><a href="{{ child.get_path }}">{{ child.title }}</a></li>
					{% endfor %}
				</ul>
			</li>
		{% else %}
			<li class="{{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}">
				<a href="{{ item.get_path }}">{{ item.title }}</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
