<div class="nav simple horizontal two-levels" class="clearfix">
	<ul class="links">
		{% for item in menu.get_items %}
			<li class="{{ item.classes | join(' ') }} first-level off first{% if 'current-menu-item' in item.classes %} active{% endif %}">
				<a class="nav-main-link{% if 'current-menu-item' in item.classes %} active{% endif %}" href="{{item.get_link}}">{{ item.title }}</a>
				{% if item.get_children %}
					<ul class="second-level">
						{% for child in item.get_children %}
							<li><a href="{{child.get_link}}">{{ child.title }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
