{#<?php#}
{% do action( 'maera/wrap/before', post.ID ) %}

<div class="wrap main-section" id="wrap-main-section">
	{% do action( 'maera/content/before', post.ID ) %}
	<div class="content" id="content" itemprop="mainContentOfPage">
		<div class="front-top-wrapper">
			<div class="inside [maera_grid_container_class]">
				{{ sidebar.front_top }}
			</div>
		</div>
		<div class="content-primary-wrapper {{ 'main'|apply_filters( 'maera/section_class/wrapper' ) }}">
			<div class="[maera_grid_container_class]">
				<div class="[maera_grid_row_class] pre-main">{{ sidebar.pre_main_top }}</div>
				<div class="[maera_grid_row_class] main-content-table">
					<main class="[maera_grid_col_8] {{ 'main'|apply_filters( 'maera/section_class/content' ) }} inside" role="main">
						<div class="[maera_grid_row_class]">{{ sidebar.front_main }}</div>
					</main><!-- /.main -->
					{% include 'sidebar.twig'|apply_filters('maera/sidebar_template') %}
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div><!-- /#content -->
	{% do action( 'maera/content/after' ) %}
</div>
